.cloud {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
#cloud1 {
    top: 100px;
    left: 5vw;
    height: auto;
    width:20vw;
    min-width: 350px;
}
#cloud2 {
    top: 1.5em;
    left: 16vw;
    height: auto;
    width:15vw;
    min-width: 250px;
}
#cloud3 {
    top: 3em;
    left: 1.3vw;
    height: auto;
    width:10vw;
    min-width: 150px;
}
#cloud4 {
    top: 4.1em;
    left: 5.1vw;
    height: auto;
    width:10vw;
    min-width: 150px;
}
#cloud5 {
    top: 5.5em;
    left: 7vw;
    height: auto;
    width:15vw;
    min-width: 250px;
}
#cloud6 {
    top: 1em;
    left: 3vw;
    height: auto;
    width:10vw;
    min-width: 150px;
}
#cloud7 {
    top: 2em;
    left: 4vw;
    height: auto;
    width:10vw;
    min-width: 150px;
}
#cloud8 {
    top: 3em;
    left: 1vw;
    height: auto;
    width:15vw;
    min-width:250px;
}
#cloud9 {
    top: 4em;
    left: 2.5vw;
    height: auto;
    width:10vw;
    min-width: 150px;
}
#cloud10 {
    top: 5em;
    left: 10vw;
    height: auto;
    width:20vw;
    min-width: 350px;
}