#nav, #rearNav, #brownNav {
    height: 75px;
    width: 100%;
    top: 0px;
    min-height: 50px;
    background: transparent;
    position: fixed;
    border-radius: 0;
    opacity: 1;
}
#rearNav.opaque {
    opacity: 0;
}
#nav-title {
    margin-top: 18px;
    color: #dcd4d0;
    display: inline-block;
    margin-left: 50px;
}
#rearNav {
    background: linear-gradient(to right, #494a86, #244a53);
    transition: all 1s;    
    z-index: 11;
}
#brownNav {
    background: #2c2219; 
    z-index: 10;
}
#nav {
    z-index: 12;
}
#mlh-trust-badge {
    position: fixed;
    margin-top: 75px;
    left: 10vw;
    width: 10%;
    min-width: 60px;
    max-width: 100px;
    display: block;
    z-index: 3;
}

/* div that contains the <a> navigation links */
.navItem {
    height: 100%;
    float: right;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}

.navItem:hover {
    background-color: #5481be;
    cursor: pointer;
    text-decoration: none;
}

.navItem > a {
    color: white;
    font-family: 'Futura Standard';
    text-decoration: none;

    /* use em's to calculate line spacing from the font-size set on .navItem class
    This will improve responsiveness, I have calculated these values from the existing values in px on the .navItem class */
    padding-left: 0.67em;
    padding-right: 0.67em;
    line-height: 50px;
}

/*First link in nav bar*/
.navItem:nth-child(2){
   margin-right: 20px;
 }

/*For Tablets*/
 @media (max-width: 900px) {
    #nav-title {
        margin-left: 25px;
        font-size: 32px;
    }
   .navItem {
       font-size: 20px;
   }
 }
