#nav, #rearNav, #brownNav {
    height: 75px;
    width: 100%;
    top: 0px;
    min-height: 50px;
    background: transparent;
    position: fixed;
    border-radius: 0;
    opacity: 1;
    padding: 0;
}
#rearNav.opaque {
    opacity: 0;
}
#nav-title {
    margin-top: 18px;
    color: #dcd4d0;
    display: inline-block;
    margin-left: 50px;
    font-size: 36px;
    padding-top: 0;
}
#rearNav {
    background: linear-gradient(to right, #494a86, #244a53);
    transition: all 1s;
    z-index: 11;
}
#brownNav {
    background: #2c2219;
    z-index: 10;
    border-bottom: 1px solid #a2a2a2;
}
#nav {
    z-index: 12;
}
#mlh-trust-badge {
    position: fixed;
    margin-top: 75px;
    left: 10vw;
    width: 10%;
    min-width: 60px;
    max-width: 100px;
    display: block;
    z-index: 3;
}

/* div that contains the <a> navigation links */
.nav-item {
    height: 100%;
    float: right;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.33em;
    padding-right: 0.33em;
    z-index: 10;
}
.navbar > .navbar-nav {
    height: 75px;
}
.nav-item:hover {
    background-color: #5481be;
    cursor: pointer;
    text-decoration: none;
}

.nav-item > a {
    color: white !important;
    font-family: 'Futura Std';
    text-decoration: none;

    /* use em's to calculate line spacing from the font-size set on .nav-item class
    This will improve responsiveness, I have calculated these values from the existing values in px on the .nav-item class */
    padding-left: 0.67em;
    padding-right: 0.67em;
    line-height: 40px;
    pointer-events: none;
}

/*First link in nav bar*/
.nav-item:last-child {
   margin-right: 20px;
 }
/*For Tablets*/
 @media (max-width: 900px) {
    #nav-title {
        margin-left: 25px;
        font-size: 32px;
    }
   .nav-item {
       font-size: 20px;
   }
 }
