@font-face {
    font-family: 'Futura Std';
    font-weight: normal;
    src: url('../fonts/futura/FuturaStd-Book.otf');
}
@font-face {
    font-family: 'FuturaStd-Heavy';
    font-weight: bold;
    src: url('../fonts/futura/FuturaStd-Heavy.otf');
}
body{
  background-color: black;
  color: white;
  font-family: 'Futura Std';
  overflow-x: hidden;
}
#logo-container {
  width: 50%;
  text-align: center;
  opacity: 0.9;
}
#logo-container > img {
  width: 100%;
  max-width: 400px;
}
.social-buttons {
  bottom: initial;
}
#nav {
  position: sticky;
  border-bottom: 1px solid #a2a2a2;
  background-color: black;
}
#nav-title {
  color: white;
}
.nav-item:hover {
  background-color: white;
  color: black;
}
#main .logo-container{
  padding-top: 1em;
}
.slant-right {
  clip-path: polygon(
    0 0,
    100% 3vw,
    100% calc(100% - 3vw),
    0 100%
  );
}
.slant-left {
  clip-path: polygon(
    0 3vw,
    100% 0,
    100% 100%,
    0 calc(100% - 3vw)
  );
}
.slant-left, .slant-right {
  padding-top: calc(8rem + 3vw);
  padding-bottom: 8rem;
}
section:nth-child(even) {
  background-color: black;
  color: white;
  z-index: 1;
}
section:nth-child(odd) {
  background-color: white;
  color: black;
}
section.roles ul {
  margin-top: 1em;
  margin-left: 1em;
}
section.roles ul > li {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
section h1:first-child {
  margin-bottom: 1em;
}
section.roles > .container > h1:first-child {
  border-bottom: 3px solid;
  width: 4em;
  padding-bottom: 0.12em;
}
section:first-of-type {
  /*height: 100vh;*/
  background-image: url('/img/team2.jpeg');
  background-size: cover;
  background-position: 50% 10%;
  margin-bottom: -3vw;
  padding-bottom: 3vw;
  color: white;
}
section:first-of-type .container > :last-child {
  margin-bottom: 3vw;
  padding-bottom: 0.25em;
}
.social-buttons {
  position: static;
  margin: initial;
  margin-top: 1em;
}


@media (max-width: 768px){
  .slant-left, .slant-right {
    padding-top: calc(5rem + 3vw);
    padding-bottom: 5rem;
  }
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px){
  #nav {
    display: none;
  }
  html {
    font-size: 12px;
  }
  html {
    font-size: 14px;
  }
}
.no-decorate, .no-decorate:hover {
  text-decoration: none;
}