/*
	Color Palette 

	teal - 29c8cc
	purple - 7815e6
	blue - 257ecc
*/

/* Fonts */

@font-face {
	font-family: Montserrat-ExtraLight;
	src: url("montserrat/Montserrat-ExtraLight.otf") format("opentype");
}

@font-face {
	font-family: Montserrat-Medium;
	src: url("montserrat/Montserrat-Medium.otf") format("opentype");
}


/* NAV BAR */

#nav {
	height: 50px;
	width: 100%;

    background: transparent;
	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	border-bottom: 1px solid white;
}

.navItem {
	float: right;
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	color: white;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 50px;
	letter-spacing: 1px;
	font-family: 'Montserrat-ExtraLight', sans-serif;

	transform: translateX(-20px);
}

.navItem > a {
	color: white;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	text-decoration: none;
	
	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.navItem > a:hover {
	color: white;
	opacity: .5;
	cursor: pointer;
	text-decoration: none;

}

.social-icon {
	line-height: 50px;
	vertical-align: middle;
	transform: translateX(50px);

	-webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.social-icon:hover {
	opacity: .5;

	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#header {
    height: 100vh;
	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

/* LANDING SCREEN */

body {
	margin: 0 0 0 0;
	overflow-x: hidden;
}

#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 250px;
	margin-top: -180px;
	margin-left: -125px;
}

#title {
	position: absolute;
	top: 62%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	font-weight: 100;
	font-size: 45px;
	color: white;
	transform: translateX(5px);
}

#hack {
	position: absolute;
	transform: translateX(-140px);
}

#davis {
	font-family: 'Montserrat-Medium', sans-serif;
	position: absolute;
	transform: translateX(-10px);
}

#caption {
	position: absolute;
	top: 67%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	font-size: 20px;
	margin-top: 15px;
	color: white;
}

#info {
	position: absolute;
	top: 72%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	font-size: 15px;
	margin-top: 15px;
	color: white;
}

#buttons {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 80%;
}

/*.button {
	width: 150px;
	height: 35px;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	line-height: 35px;
	display: inline-block;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 1px;
}*/

.button:hover {
	cursor: pointer;
	text-decoration: none;
	color: white;
}

#ponsor {
	background-color: #29c8cc;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	width: 150px;
	height: 40px;
	border-radius: 30px;
	font-weight: 400;
	line-height: 40px;
	display: inline-block;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 1px;
	color: white;
	text-decoration: none;
}

#email {
	height: 40px;
	width: 300px;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
	letter-spacing: 1px;
	color: white;
	text-align: center;
	font-family: 'Montserrat-ExtraLight', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

/* ABOUT */

.about {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: white;
	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

#about-heart {
	width: 10%;
	margin-top: 100px;
}

#about-title, #faq-title {
	font-family: 'Montserrat-Medium', sans-serif;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 50px;
}

#about-content {
	font-family: 'Montserrat-ExtraLight', sans-serif;
	font-size: 15px;
	width: 50%;
	margin: 0 auto;
	text-align: justify;
	margin-top: 20px;
	line-height: 2em;
}

/* FAQ */

.faq {
    padding-top: 150px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: white;
	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

#faq-title {
	margin-top: 50px;
	margin-bottom: 30px;
}

#faq-content {
	padding:30px;
}

.col {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-justify-content: center;
	-moz-box-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-box-align-items: flex-start;
	-moz-box-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;

	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

}

.card {
	color: white;
	font-family: 'Montserrat-ExtraLight', sans-serif;
	width: 450px;
	height: auto;
	padding: 20px;
	font-size: 15px;
	text-align: justify;
	margin-left: 20px;
	margin-right:20px;
}

.card .ques {
	font-weight: 600;
	font-size: 20px;
}

.ques {
	font-family: 'Montserrat-Medium', sans-serif;
}

/* STORIES */ 

.stories {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: inline-block;
	height: auto;
	width: 100%;
    background-color: #fff;
    padding-bottom: 5vh;

}

.stories-title {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.stories-title > span {
	color: #7815e6;
}

.row {
	height: 400px;
}

.article {
    display: inline-block;
}

.article > img {
	min-width: 250px;
	min-height: 250px;
	max-height: 50%;
	max-width: 50%;
	vertical-align: middle;	
	box-shadow: 2px 2px 2px #888888;
}

.article-img {
	width:90%;
	height:250px;
	vertical-align: middle;	
	margin: 0 auto;
	text-align: center;
	display: table;
	position: absolute;
}

.quote {
	width: 100%;
	margin-left: 0px !important;
	text-align: justify;
}

.quote > b {
	color: #7815e6;
}

@media only screen and (min-width: 1028px) {
  .article > img{
    max-height: 50px;
    max-width: 50px;
 
    -ms-transform: rotate(-7deg); 
    -webkit-transform: rotate(-7deg); 
    transform: rotate(-7deg);
  }
}

.name {
    float: left;
	display: inline-block;
	font-size: 20px;
}

.name > i {
	font-size: 15px;
}


@media only screen and (min-width: 1028px) {
    .name1 > i {
    	font-size: 15px;
        border: 1px;
        border-style: solid;
        border-color: #29c8cc;
        padding-right: 190px;
        padding-top: 10px;
        margin-left: 15px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .name1 > b {
        background-color: #29c8cc;
        padding: 5px;
        /*padding-right: 243px;*/
        padding-right: 67%;
    }
    
    .name2 > i {
    	font-size: 15px;
        border: 1px;
        border-style: solid;
        border-color: #7815e6;
        /*padding-right: 75px;*/
        padding-right: 20%;
        padding-top: 10px;
        margin-left: 15px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .name2 > b {
        background-color: #7815e6;
        padding: 5px;
        /*padding-right: 201px;*/
        padding-right: 57%;
    }
    
    .name3 > i {
    	font-size: 15px;
        border: 1px;
        border-style: solid;
        border-color: #29c8cc;
        padding-right: 12%;
        padding-top: 10px;
        margin-left: 15px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .name3 > b {
        background-color: #29c8cc;
        padding: 5px;
        /*padding-right: 243px;*/
        padding-right: 70%;
    }
}



.position {
	display: inline-block;
}

.quote {
	margin-left: 50%;
}

/* ponsorship */

.ponsors {
  	font-family: 'Montserrat', sans-serif;
   	text-decoration: none;
   	height: auto;
   	width: 100%;
   	padding-bottom: 5vh;

	background-image: url("img/background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}
    
.ponsors-category {
  	color: white;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	margin-top: 150px;
	margin-bottom: 50px;
}

#manymore {
  	color: white;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.ponsors-category > span {
	color: #7815e6;
}


.tier {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-justify-content: center;
	-moz-box-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;

	-webkit-box-align-items: center;
	-moz-box-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;

	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	padding:10px;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;

}

.tier > a {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
}

.tier > img {
	width: auto;
}

/*.tier-2 > img {
	padding-left: 10px;
	padding-right: 10px;
}*/

.article-row {
	margin-top: 50px;
	margin-bottom: 50px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

a:link {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

footer#footer{
	background-image: url("img/background.png");
	background-size: cover;
    width: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
	padding: 20px 0 15px 0;
    /*margin-top: 15px;*/
}
footer#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
footer#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover{
	background: #65adf5; /*footer hovering*/
	border-color: #afd2e9;
	color: #ffffff;
}



