<!DOCTYPE html>
<html>
<head>
	<title>HackDavis 2016 Schedule</title>
	<link rel="stylesheet" type="text/css" href="../css/schedule.css">
	<link rel='shortcut icon' type='image/x-icon' href='../favicon.png'/>
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 -->	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
	<script type="text/javascript" src="../js/live.js" ></script>
</head>
<body>	
	<div id="yellowbar">
		<div class="label" id="logo-label" style="height: 40px; line-height: 40px;"> LIVE </div>
		<a href="live.html">
			<img id="logo" src="../img/symbols/hackdavis-whitelogo.png" height="40px">	
		</a>
		
		<div class="label" id="api-label"> APIs </div>
		<a href="api.html">
			<img id="api" src="../img/symbols/api_white.png" height="30px">
		</a>

		<div class="label" id="hardware-label"> hardware </div>
		<a href="hardware.html">
			<img id="hardware" src="../img/symbols/hardware_white.png" height="25px">
		</a>

		<div class="label" id="prize-label"> prizes </div>
		<a href="prize.html">
			<img id="prize" src="../img/symbols/prize_white.png" height="30px">
		</a>
		
		<div class="label" id="workshop-label"> tech talks </div>
		<a href="schedule.html">
			<img id="workshop" src="../img/symbols/workshop_white.png" height="25px">
		</a>

		<div class="label" id="devpost-label"> devpost </div>
		<a href="http://hackdavis.devpost.com">
			<img id="devpost" src="../img/symbols/devpost_white.png" height="25px">
		</a>
	</div>
	
	<div id="title"> TECH TALKS </div>
	<div id="bluebar"></div>

	<div id="content">

		<div class="flexbox-container">

			<div id="column-one">
			<h2 class="datetitle"> May 7, 2016</h2>
				<div class="card">
					<h3> OPENING CEREMONY </h3>
					<p> 11:00 AM - 12:15 PM @ Sci Lec</p>
				</div>

				<div class="card">
					<h3> ROBERT HALF </h3>
					<p> 1:30 PM - 2:00 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>SYNAPTICS</h3>
					<p>2:15 PM - 2:45 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>HACKHARASSMENT</h3>
					<p>3:00 PM - 3:30 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>SERVICENOW</h3>
					<p>3:45 PM - 4:15 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>AT&T</h3>
					<p>4:30 PM - 5:00 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>WESTFIELD LABS</h3>
					<p>5:15 PM - 5:45 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>POWERSCHOOL</h3>
					<p>6:00 PM - 6:30 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>SOCIETY OF WOMEN ENGINEERS</h3>
					<p>6:45 PM - 7:15 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>IBM</h3>
					<p>9:00 PM - 9:30 PM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3>AMAZON</h3>
					<p>9:45 PM - 10:15 PM @ Meeting Room 1</p>
				</div>

			</div>
			
			<div id="column-two">
			<h2 class="datetitle"> May 8, 2016</h2>
				<div class="card">
					<h3> CYDIA CREATOR </h3>
					<p>12:00 AM - 3:00 AM @ Meeting Room 1</p>
				</div>

				<div class="card">
					<h3> CLOSING CEREMONY </h3>
					<p>3:00 PM - 4:00 PM @ Sci Lec </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>