<!DOCTYPE html>
<html>
<head>
	<title>HackDavis 2016 Schedule</title>
	<link rel="stylesheet" type="text/css" href="../css/schedule.css">
	<link rel='shortcut icon' type='image/x-icon' href='../favicon.png'/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>	
	<div id="yellowbar"></div>
	
	<div id="title"> SCHEDULE </div>
	<div id="bluebar"></div>

	<div id="content">

		<div class="flexbox-container">

		
			<div id="column-one">
			<h2 class="datetitle"> May 7, 2016</h2>
				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

			</div>
			
			<div id="column-two">
			<h2 class="datetitle"> May 8, 2016</h2>
				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

				<div class="card">
					<h3>INTRODUCTIONS //</h3>
					<p>11:00 AM - 11:05 @ Sci Lec</p>
				</div>

			</div>

			

		</div>
		
	</div>
</body>
</html>