<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/travel.css">
</head>
<body>	
	<div id="yellowbar"></div>
	
	<div id="title"> TRAVEL REIMBURSEMENT </div>
	<div id="bluebar"></div>

	<div id="content">
		We'd love to have hackers outside of UC Davis join us here at HackDavis, and we want to do everything we can to make that happen. Travel reimbursements (maximum of $50) will be handed out on a first-come first-serve basis to hackers who are admitted outside of UC Davis.
		<br> <br>
		To secure your reimbursement, first confirm your attendence to the event on the typeform link in your acceptance email. Only the first 40 individuals who confirm will secure reimbursements. After submitting a project at HackDavis, send an email to <a href="mailto:hello@hackdavis.io"> hello@hackdavis.io</a> with the following:
		<br> <br> 
		
		<ul>
			<li> your full name </li>
			<li> devpost submission link </li>
			<li> mailing address </li>
			<li> an attachment of your itinerary/gas receipt to and from the event </li>
		</ul>

		<br>
		We will then mail out your reimbursement following the event. <a href="mailto:hello@hackdavis.io"> Email us</a> if you have any further doubts. We look forward to seeing you there!
	</div>
</body>
</html>