/* COLOR PALETTE */

/* 
	Green: #60AD57;
	Blue: #00accb;
	Gray: #BABABA;
	Dark Gray: #545554;
	Yellow: #F1C83A;
*/

@font-face {
  font-family: 'Pier Regular';
  src: url('../fonts/pier-regular.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Pier Bold';
  src: url('../fonts/pier-bold.otf'); /* IE9 Compat Modes */
}

#title {
	color: gray;
	font-size: 30px;
	font-weight: 600;
	font-family: Pier Bold, Avenir, sans-serif;
	margin-left: 100px;
	margin-top: 50px;
}

#yellowbar {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #F1C83A;
}

#bluebar {
	height: 7px;
	width: 200px;
	background-color: #00accb;
	margin-left: 100px;
	margin-top: 10px;
}

#content {
	color: gray;
	font-family: Pier Regular, Avenir, sans-serif;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 50px;
	width: 70%;
	text-align: justify;
}

.grid-item {
	background-color: white;
	position: relative;
	width: 300px;
	height: 250px;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 40px;
	border: 2px solid #F1C83A;

	z-index: -9999;
}

.grid-title {
	color: gray;
	font-family: Pier Bold, Avenir, sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	width: 85%;
	height: 40px;
	position: absolute;
	line-height: 20px;

}

.grid-heading {
	color: #00accb;
	font-family: Pier Regular, Avenir, sans-serif;
	font-size: 15px;
	margin-top: 80px;
	margin-left: 20px;
	position: absolute;
}

.grid-desc {
	color: gray;
	font-family: Pier Regular, Avenir, sans-serif;
	font-size: 15px;
	margin-top: 120px;
	margin-left: 20px;
	width: 90%;
	height: 100px;
	position: absolute;
	z-index: 9999;

}

.grid {
	margin-left: 100px;
	margin-top: 75px;
	position: absolute;

	z-index: -9999;

}

#yellowbar > a > img{
	margin: auto;
	margin-bottom: 25px;
	display: block;
	z-index: 999999;
	transform: translate(0, 45px);

	CROSS BROWSER SUPPORT
}

#yellowbar > a > img:hover {
	cursor: pointer;
}

.label {
	width: 80px;
	height: 30px;
	background-color: #F1C83A;
	position: absolute;
	margin-left: 50px;
	font-family: Pier Regular, Avenir, sans-serif;
	color: white;
	margin: 0 auto;
	margin-left: 50px;
	line-height: 35px;
	text-align: center;
	display: none;
	z-index: 999999;

	transform: translate(0, 45px);

	CROSS BROWSER SUPPORT
}

#logo-label {
	height: 40px; 
	line-height: 40px;
}

#hamburger, #menu {
	display: none;
}

@media screen and (max-width: 525px) {

	body {
		margin: 0 0 0 0;
		z-index: -9999;
		overflow-x: hidden;
		background-color: white;
	}

	#yellowbar {
		width: 100%;
		height: 50px;
		position: relative;
		margin-bottom: 50px;
		opacity: 0;
		pointer-events: none;
	}

	#title {
		margin: 0 auto;
		text-align: center;
		font-size: 25px;
	}

	#bluebar {
		margin: 0 auto;
		text-align: center;
	}

	#content {
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		width: 90%;
	}

	ul {
		text-align: left;
	}

	.grid {
		margin: 0 auto;
		margin-top: 75px;
		text-align: center;
	}

	.grid-item { 
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}

	.grid-title {
		text-align: left;
	}

	.grid-desc {
		text-align: left;
	}

	.label {
		display: none !important;
	}

/*	#yellowbar > a > img {
		margin-left: 8%;
		display: inline-block;
		transform: translate(0, 0);
		position: relative;
		z-index: 999;
		display: none;
	}*/

/*	img#logo {
		transform: translate(0, 5px) !important;
	}*/

	#container {
		position: absolute;
		z-index: 99999;
		background-color: white;
		width: 100%;
	}

	#hamburger {
		display: block;
		position: absolute;
		top: 0;
		height: 40px;
		width: 40px;
		margin-top: 10px;
		margin-left: 10px;
	}

	#hamburger:hover {
		cursor: pointer;
	}

	#menu {
		display: block;
		opacity: 0;
		position: fixed;
		top: 0;
		list-style-type: none;
		padding-left:0; 
		width: 40%;
		margin-top: 0;
		height: 100%;
		position: fixed;
		z-index: -9999;
		background-color: #F1C83A;
		padding-top: 10px;
	}

	#menu > a {
		width: 100%;
		height: 40px;
		background-color: #F1C83A;
		text-decoration: none;
	}

	#menu > a > li{
		font-family: Pier Regular, Avenir, sans-serif;
		color: white;
		font-size: 15px;
		padding-left: 10px;
		line-height: 50px;
		background-color: #F1C83A;
	}
}
/*
@media screen and (max-width: 375px) {
	#yellowbar > a > img {
		height: 20px;
		transform: translate(0, 15px);
	}

	img#logo {
		transform: translate(0, 15px) !important;
	}

}*/

