/* COLOR PALETTE */

/* 
	Green: #60AD57;
	Blue: #00accb;
	Gray: #BABABA;
	Dark Gray: #545554;
	Yellow: #F1C83A;
*/

@font-face {
  font-family: 'Pier Regular';
  src: url('../fonts/pier-regular.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Pier Bold';
  src: url('../fonts/pier-bold.otf'); /* IE9 Compat Modes */
}

body {
/*    background-image: url("../img/bus.jpg");
    background-size: cover;
    filter: 50%;*/
}

#title {
	color: gray;
	font-size: 30px;
	font-weight: 600;
	font-family: Pier Bold, Avenir, sans-serif;
	margin-left: 100px;
	margin-top: 50px;
}

.datetitle {
	color: gray;
	font-size: 25px;
	font-weight: 700;
	font-family: Pier Bold, Avenir, sans-serif;
}

#yellowbar {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #F1C83A;
}

#bluebar {
	height: 7px;
	width: 200px;
	background-color: #00accb;
	margin-left: 100px;
	margin-top: 10px;
}

#content {
	color: gray;
	font-family: Pier Regular, Avenir, sans-serif;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 50px;
	text-align: justify;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-box-flex-direction: row;
	-moz-box-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-box-flex-wrap: wrap;
	-moz-box-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flexbox-container > div {
	padding: 10px;
}

.flexbox-container > div:first-child {
/*	margin-right: 20px;
*/}

.card {
	border-width: 5px;
	margin-bottom: 20px;
	border: 2px solid #F1C83A;
	height: auto;
	padding-right: 15px;
	width: 400px;
}

.card > h3 {
	font-family: Pier Bold, Avenir, sans-serif;
	color: gray;
	font-size: 20px;
	margin-left: 20px;
}

.card > p {
	font-family: Pier Regular, Avenir, sans-serif;
	color: #00accb;
	font-size: 15px;
	margin-left: 20px;
}

.label {
	width: 80px;
	height: 30px;
	background-color: #F1C83A;
	position: absolute;
	margin-left: 50px;
	font-family: Pier Regular, Avenir, sans-serif;
	color: white;
	margin: 0 auto;
	margin-left: 50px;
	line-height: 35px;
	text-align: center;
	display: none;

	transform: translate(0, 45px);
}

#yellowbar > a > img{
	margin: auto;
	margin-bottom: 25px;
	display: block;
	z-index: 999999;
	transform: translate(0, 45px);
}

#yellowbar > a > img:hover {
	cursor: pointer;
}

#hamburger, #menu {
	display: none;
}

/*--------------------------------*/

@media screen and (max-width: 525px) {

	body {
		margin: 0 0 0 0;
		z-index: -9999;
		overflow-x: hidden;
		background-color: white;
	}

	#yellowbar {
		width: 100%;
		height: 50px;
		position: relative;
		margin-bottom: 50px;
		opacity: 0;
		pointer-events: none;
	}

	#title {
		margin: 0 auto;
		text-align: center;
		font-size: 25px;
	}

	#bluebar {
		margin: 0 auto;
		text-align: center;
	}

	.label {
		display: none !important;
	}

	#container {
		position: absolute;
		z-index: 99999;
		background-color: white;
		width: 100%;
		height: 100%;
	}

	#hamburger {
		display: block;
		position: absolute;
		top: 0;
		height: 40px;
		width: 40px;
		margin-top: 10px;
		margin-left: 10px;
	}

	#hamburger:hover {
		cursor: pointer;
	}

	#menu {
		display: block;
		opacity: 0;
		position: fixed;
		top: 0;
		list-style-type: none;
		padding-left:0; 
		width: 40%;
		margin-top: 0;
		height: 100%;
		position: fixed;
		z-index: -9999;
		background-color: #F1C83A;
		padding-top: 10px;
	}

	#menu > a {
		width: 100%;
		height: 40px;
		background-color: #F1C83A;
		text-decoration: none;
	}

	#menu > a > li{
		font-family: Pier Regular, Avenir, sans-serif;
		color: white;
		font-size: 15px;
		padding-left: 10px;
		line-height: 50px;
		background-color: #F1C83A;
	}

	ul {
		text-align: left;
	}

	.card {
		border-width: 5px;
		margin-bottom: 20px;
		border: 2px solid #F1C83A;
		height: auto;
		padding-right: 15px;
		width: 300px !important;
	}

	.card > h3 {
		font-family: Pier Bold, Avenir, sans-serif;
		color: gray;
		font-size: 17px !important;
		margin-left: 20px;
	}

	.card > p {
		font-family: Pier Regular, Avenir, sans-serif;
		color: #00accb;
		font-size: 13px !important;
		margin-left: 20px;
	}
}

@media screen and (max-width: 320px) {

	#content {
		color: gray;
		font-family: Pier Regular, Avenir, sans-serif;
		font-size: 15px;
		margin-left: 50px !important;
		text-align: justify;
	}

	#bluebar {
		margin-left: 72px !important;
	}

	#title {
		margin: 2px;
		/*padding-left: 10p;*/
		text-align: center;
		font-size: 25px;
	}

	.card {
		border-width: 5px;
		margin-bottom: 20px;
		padding: 10px;
		border: 2px solid #F1C83A;
		height: auto;
		padding-right: 15px;
		width: 200px !important;
	}

	.card > h3 {
		font-family: Pier Bold, Avenir, sans-serif;
		color: gray;
		font-size: 17px !important;
		margin-left: 10px;
	}

	.card > p {
		font-family: Pier Regular, Avenir, sans-serif;
		color: #00accb;
		font-size: 13px !important;
		margin-left: 10px;
	}
}

@media screen and (max-width: 375px) {

	#content {
		color: gray;
		font-family: Pier Regular, Avenir, sans-serif;
		font-size: 15px;
		margin-left: 50px !important;
		text-align: justify;
	}

	#bluebar {
		margin-left: 72px !important;
	}

	#title {
		margin: 2px;
		/*padding-left: 10p;*/
		text-align: center;
		font-size: 25px;
	}

	.card {
		border-width: 5px;
		margin-bottom: 20px;
		padding: 10px;
		border: 2px solid #F1C83A;
		height: auto;
		padding-right: 15px;
		width: 250px !important;
	}

	.card > h3 {
		font-family: Pier Bold, Avenir, sans-serif;
		color: gray;
		font-size: 17px !important;
		margin-left: 10px;
	}

	.card > p {
		font-family: Pier Regular, Avenir, sans-serif;
		color: #00accb;
		font-size: 13px !important;
		margin-left: 10px;
	}
}

@media screen and (max-width: 420px) {

	#content {
		color: gray;
		font-family: Pier Regular, Avenir, sans-serif;
		font-size: 20px;
		margin-left: 50px !important;
		text-align: justify;
	}

	#bluebar {
		margin-left: 110px !important;
	}

	#title {
		margin: 2px;
		/*padding-left: 10p;*/
		text-align: center;
		font-size: 30px;
	}

	.card {
		border-width: 5px;
		margin-bottom: 20px;
		padding: 10px;
		border: 2px solid #F1C83A;
		height: auto;
		padding-right: 15px;
		width: 300px !important;
	}

	.card > h3 {
		font-family: Pier Bold, Avenir, sans-serif;
		color: gray;
		font-size: 17px !important;
		margin-left: 10px;
	}

	.card > p {
		font-family: Pier Regular, Avenir, sans-serif;
		color: #00accb;
		font-size: 13px !important;
		margin-left: 10px;
	}
}



/*
@media screen and (max-width: 1050px) {
	.card {
		width: 300px;
	}

	.card > h3 {
		font-size: 15px;
	}

	.card > p {
		font-size: 10px;
	}
}

@media screen and (max-width: 800px) {
	#content {
		margin: 0 auto;
		text-align: center;
	}

	#container {
		position: relative;
		margin: 0 auto;
		text-align: center;
		display: inline-block;
	}
}

@media screen and (max-width: 525px) {

	body {
		margin: 0 0 0 0;
		z-index: -9999;
		overflow-x: hidden;
		background-color: white;
	}

	#yellowbar {
		width: 100%;
		height: 50px;
		position: relative;
		margin-bottom: 50px;
		opacity: 0;
		pointer-events: none;
	}

	#title {
		margin: 0 auto;
		text-align: center;
		font-size: 25px;
	}

	#bluebar {
		margin: 0 auto;
		text-align: center;
	}

	#content {
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		width: 90%;
	}

	ul {
		text-align: left;
	}

	.grid {
		margin: 0 auto;
		margin-top: 75px;
		text-align: center;
	}

	.grid-item { 
		margin: 0 auto;
		text-align: center;
		margin-bottom: 10px;
	}

	.grid-title {
		text-align: left;
	}

	.grid-desc {
		text-align: left;
	}

	.label {
		display: none !important;
	}*/

	/*	#yellowbar > a > img {
			margin-left: 8%;
			display: inline-block;
			transform: translate(0, 0);
			position: relative;
			z-index: 999;
			display: none;
		}*/

	/*	img#logo {
			transform: translate(0, 5px) !important;
		}*/

	/*#container {
		position: absolute;
		z-index: 99999;
		background-color: white;
		width: 100%;
		height: 100%;
	}

	#hamburger {
		display: block;
		position: absolute;
		top: 0;
		height: 40px;
		width: 40px;
		margin-top: 10px;
		margin-left: 10px;
	}

	#hamburger:hover {
		cursor: pointer;
	}

	#menu {
		display: block;
		opacity: 0;
		position: fixed;
		top: 0;
		list-style-type: none;
		padding-left:0; 
		width: 40%;
		margin-top: 0;
		height: 100%;
		position: fixed;
		z-index: -9999;
		background-color: #F1C83A;
		padding-top: 10px;
	}

	#menu > a {
		width: 100%;
		height: 40px;
		background-color: #F1C83A;
		text-decoration: none;
	}

	#menu > a > li{
		font-family: Pier Regular, Avenir, sans-serif;
		color: white;
		font-size: 15px;
		padding-left: 10px;
		line-height: 50px;
		background-color: #F1C83A;
	}
}
*/
