/* COLOR PALETTE */

/* 
	Green: #60AD57;
	Blue: #00accb;
	Gray: #BABABA;
	Dark Gray: #545554;
	Yellow: #F1C83A;
*/

@font-face {
  font-family: 'Pier Regular';
  src: url('../fonts/pier-regular.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Pier Bold';
  src: url('../fonts/pier-bold.otf'); /* IE9 Compat Modes */
}

body {
/*    background-image: url("../img/bus.jpg");
    background-size: cover;
    filter: 50%;*/
}

#title {
	color: gray;
	font-size: 30px;
	font-weight: 600;
	font-family: Pier Bold, Avenir, sans-serif;
	margin-left: 100px;
	margin-top: 50px;
}

#yellowbar {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #F1C83A;
}

#bluebar {
	height: 7px;
	width: 200px;
	background-color: #00accb;
	margin-left: 100px;
	margin-top: 10px;
}

#content {
	color: gray;
	font-family: Pier Regular, Avenir, sans-serif;
	font-size: 15px;
	margin-left: 100px;
	margin-top: 50px;
	width: 70%;
	text-align: justify;
}

@media screen and (max-width: 525px) {

	body {
		margin: 0 0 0 0;
	}
	#yellowbar {
		width: 100%;
		height: 50px;
		position: relative;
		margin-bottom: 50px;
	}

	#title {
		margin: 0 auto;
		text-align: center;
		font-size: 25px;
	}

	#bluebar {
		margin: 0 auto;
		text-align: center;
	}

	#content {
		margin: 0 auto;
		margin-top: 50px;
		text-align: center;
		width: 90%;
	}

	ul {
		text-align: left;
	}

}