#title {
	color: #fff;
	font-family: Montserrat;
	font-size:65px;
}

#inp {
	padding: 10px;
	width: 150px;
}

.butt {
	padding: 11px;
	background-color: #fff;
	font-family: Montserrat;
	font-size:16px;
	border: 3px solid white;
	margin:5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.butt:hover {
	background-color: #3755D7;
	color: white;
}

.butt#email {
	padding:5px;
}

.grabEmail {
	padding: 5px;
	background-color: #fff;
	width:25vw;
	min-width:200px;
	font-family: Montserrat;
	font-size:16px;
	border: 3px solid white;
	margin:5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#msg {
	text-align: center;
	opacity:1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:100vw;
	height: 100vh;
}

#inputbox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#signupdiv {
	display:none;
}

#sponsorsdiv {
	display:none;
}

#thankyou {
	display:none;
}

#txt {
	width: 400px;
	max-width: 400px;
	display: flex;
	padding:5px;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a:hover {
	color: #3755D7;
}

body {
	background: url("../img/flight.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	font-family: Open Sans;
	color: #fff;
}

@media only screen and (min-device-width : 320px)  and (max-device-width : 568px) { 
	#title {
		font-size:45px;
	}

	#txt {
		width:300px;
	}
/* STYLES GO HERE */
}
