<head>
	<link rel="stylesheet" type="text/css" href="css/styles2.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> HackDavis | April 29th to May 1st at UC Davis</title>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
	<script type="text/javascript" src="firefly/jquery.firefly-0.3.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$.firefly({
			color: '#fff',
			minPixel: 1,
			maxPixel: 3,
			total : 65,
		});
	});
	</script>


</head>
<body>
	<div id="landing">
		<div id="title"> HackDavis </div>
		<div> April 29 - May 1, 2016 <b>@</b> UC Davis</div>

		<p id="msg">Stay in the loop: </p>

		<div id="inputbox">
			<input id="inp" spellcheck="false" type="text" placeholder="yourname@ucdavis.edu">
			<button id="submit" onclick="submitClicked()">Submit</div>
			</div>
		</div>
	</body>