<!DOCTYPE html>
<html>
<head>
	<title>HackDavis 2016 Schedule</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="../schedule/schedule.css">
	<link rel='shortcut icon' type='image/x-icon' href='../favicon.png'/>
	<script type="text/javascript" src="../live.js" ></script>

	<!-- meta data -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Prizes for HackDavis 2016">
	<meta name="keywords" content="HackDavis, hackdavis, hackathon, hack, davis, UC Davis, University of California, Davis, Computer Science, schedule, workshops, opening, ceremony">

</head>
<body>	
	<ul id="menu">
		<a href="../"> <li> LIVE </li> </a>
		<a href="../api"> <li> APIs </li> </a>
		<a href="../hardware"> <li> HARDWARE </li> </a>
		<a href="../prize"> <li> PRIZES </li> </a>
		<a href="../schedule"> <li> TECH TALKS </li> </a>
		<a href="http://hackdavis.devpost.com"> <li> DEVPOST </li> </a>
	</ul>

	<div id="container">

<!-- 		<div id="yellowbar">
			<div class="label" id="logo-label" style="height: 40px; line-height: 40px;"> LIVE </div>
			<a href="live.html">
				<img id="logo" src="../img/symbols/hackdavis-whitelogo.png" height="40px">	
			</a>
			
			<div class="label" id="api-label"> APIs </div>
			<a href="api.html">
				<img id="api" src="../img/symbols/api_white.png" height="30px">
			</a>

			<div class="label" id="hardware-label"> hardware </div>
			<a href="hardware.html">
				<img id="hardware" src="../img/symbols/hardware_white.png" height="25px">
			</a>

			<div class="label" id="prize-label"> prizes </div>
			<a href="prize.html">
				<img id="prize" src="../img/symbols/prize_white.png" height="30px">
			</a>
			
			<div class="label" id="workshop-label"> tech talks </div>
			<a href="schedule.html">
				<img id="workshop" src="../img/symbols/workshop_white.png" height="25px">
			</a>

			<div class="label" id="devpost-label"> devpost </div>
			<a href="http://hackdavis.devpost.com">
				<img id="devpost" src="../img/symbols/devpost_white.png" height="25px">
			</a>
		</div> -->

		<div id="yellowbar">
			<div class="label" id="logo-label" style="height: 40px; line-height: 40px;"> LIVE </div>
			<a href="../">
				<img id="logo" src="../img/symbols/hackdavis-whitelogo.png" height="40px">	
			</a>

			<div class="label" id="api-label"> APIs </div>
			<a href="../api">
				<img id="api" src="../img/symbols/api_white.png" height="30px">
			</a>

			<div class="label" id="hardware-label"> hardware </div>
			<a href="../hardware">
				<img id="hardware" src="../img/symbols/hardware_white.png" height="25px">
			</a>

			<div class="label" id="prize-label"> prizes </div>
			<a href="../prize">
				<img id="prize" src="../img/symbols/prize_white.png" height="30px">
			</a>
			
			<div class="label" id="workshop-label"> tech talks </div>
			<a href="../schedule">
				<img id="workshop" src="../img/symbols/workshop_white.png" height="25px">
			</a>

			<div class="label" id="devpost-label"> devpost </div>
			<a href="http://hackdavis.devpost.com">
				<img id="devpost" src="../img/symbols/devpost_white.png" height="25px">
			</a>
		</div>

		<div id="hamburger" class="menu-closed">
			<div class="line" style="height:8px; background-color: #F1C83A; border-radius: 5px;"> </div>
			<div class="line" style="height:8px; background-color: white;"> </div>
			<div class="line" style="height:8px; background-color: #F1C83A; border-radius: 5px;"> </div>
			<div class="line" style="height:8px; background-color: white;"> </div>
			<div class="line" style="height:8px; background-color: #F1C83A; border-radius: 5px;"> </div>
		</div>
		
		<div id="title"> TECH TALKS </div>
		<div id="bluebar"></div>

		<div id="content">
		<div>Tech talk topics are still being finalized, check back often to see what's going on!<br><br></div>
			<div class="flexbox-container">
			
				<div id="column-one">
					<h2 class="datetitle"> May 7, 2016</h2>
						<div class="card">
							<h3> OPENING CEREMONY </h3>
							<p>11:00 AM - 12:15 PM @ Sci Lec 123
								<br><br>
								<p style="color:gray;"> Swag bags will be handed out at Sci Lec 123, so we hope to see you there! You must have checked in at the ARC to redeem it.
								</p>
							</p>
						</div>

						<div class="card">
							<h3> ROBERT HALF </h3>
							<p> 1:30 PM - 2:00 PM @ Meeting Room 1</p>
						</div>

						<div class="card">
							<h3>SYNAPTICS</h3>

							<p>2:15 PM - 2:45 PM @ Meeting Room 1<br><br>
							<p style="color:gray;">Intro to Synaptics Fingerprint Sensor Technology</p>
							</p>
						</div>

						<div class="card">
							<h3>HACKHARASSMENT</h3>
							<p>3:00 PM - 3:30 PM @ Meeting Room 1<br><br>
							<p style="color:gray;">
							<b>Online Harassment is Hackable</b><br>
							Hack Harassment is a cross industry initiative started by Intel, Vox Media, Re/code, and Lady Gaga’s Born This Way Foundation, to reduce online harassment and promote a safer, more inclusive online experience. Our goal is not just to raise awareness, but to increase accountability, advance anti-harassment technology and affect positive change. Do you want to help? Come learn more about the initiative and talk through some potential solutions that you are working through real-time here at HackDavis and what you can do beyond HackDavis. <br>
							</p>
							</p>
						</div>

						<div class="card">
							<h3>SERVICENOW</h3>
							<p>3:45 PM - 4:15 PM @ Meeting Room 1</p>
						</div>

						<div class="card">
							<h3>AT&T</h3>
							<p>4:30 PM - 5:00 PM @ Meeting Room 1</p>
						</div>

						<div class="card">
							<h3>WESTFIELD LABS</h3>
							<p>5:15 PM - 5:45 PM @ Meeting Room 1<br><br>
							<p style="color:gray;"> Intro to Ruby on Rails</p> </p>
						</div>

						<div class="card">
							<h3>POWERSCHOOL</h3>
							<p>6:00 PM - 6:30 PM @ Meeting Room 1</p>
						</div>

						<div class="card">
							<h3>SOCIETY OF WOMEN ENGINEERS</h3>
							<p>6:45 PM - 7:15 PM @ Meeting Room 1</p>
						</div>

						<div class="card">
							<h3>IBM</h3>

							<p>9:00 PM - 9:30 PM @ Meeting Room 1<br><br>
							<p style="color:gray;">Build your Hack on Bluemix and the Watson Cognitive APIs</p>
							</p>
						</div>

						<div class="card">
							<h3>AMAZON</h3>
							<p>9:45 PM - 10:15 PM @ Meeting Room 1<br><br>
							<p style="color:gray;">
							<b>Now That You Know What Your Building, Let's Voice Enable It</b>
							<br>Learn how to quickly add a voice UI to your hack.<br>Register for the webinar <a href="https://attendee.gotowebinar.com/register/5020391357516433409">here</a>.</p>
							</p>
						</div>
				</div>
				
				<div id="column-two">
					<h2 class="datetitle"> May 8, 2016</h2>
					<div class="card">
						<h3> CYDIA KEYNOTE SPEAKER </h3>
						<p>12:00 AM - 3:00 AM @ Meeting Room 1<br><br>
						<p style="color:gray;"> Jay Freeman, aka Saurik, the pioneer who first jailbroke an iPhone, is here to give a keynote about Cydia, jailbreaking, and his experiences.</p>
						</p>
					</div>

					<div class="card">
						<h3> CLOSING CEREMONY </h3>
						<p>3:00 PM - 4:00 PM @ Sci Lec <br><br> 
						<p style="color:gray;"> Winners will be announced. </p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
	var open = false;

	$(document).ready(function() {

		$(".menu-closed").click(function(){

			if (open == false){
				$("#menu").css("opacity", 1);
				$("#container").animate({left: '40%'});
				$("#container").css("position", "fixed");
				open = true;
			}
			else {
				$("#container").animate({left: '0%'});
				setTimeout(function() { $("#menu").css("opacity", 0); }, 1000);
				$("#container").css("position", "absolute");

				open = false;
			}

		});
	});
</script>
</html>